.container{
    height: auto;
    width: 1250px;
    margin: 0 auto;
    background: white;
}
.header{
    height: 80px;
}
.logo{
    height: 60px;
    width: 210px;
    font-size: 25px;
    float: left
}
.navigation{
    height: 50px;
    background: white;
    padding: 2px 0px;
    
    
}
.navigation ul{
    list-style-type: none;
    float: left;
}
.navigation ul li{
    float: left;
    padding: 5px;
    height: 60px;
    width: auto;
    margin: 5px;
    position: static;
    
}
.navigation li a{
    padding: 5px;
    display: block;
    line-height: 50px;
    padding-top: 4px;
    color: #333333;
    text-decoration: none;
    
}
.navigation ul li a:hover, .navigation ul li a.active{
    background-color: #EFEFEC;
    border-bottom: 4px solid red;
}
