body, html{
	font-family: 'Arial', cursive;
}

/*header*/
.header_wrap{
	height:64px;
	background:#fff;
	box-shadow:0px 5px 5px -5px #000;
	position:relative;
	z-index:1;
	}
.header_wrap{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:9;
	}


.site_logo{
	float:left;
	margin-top:9px;
	margin-right:16px;
	}
	
.header_right_part{
	float:right;
	}
	
	

/*main menu*/

.header_menu_wrap{
	text-align:right;
	}

.main_menu{
	height:64px;
	line-height:64px;
	overflow:hidden;
	font-size:16px;
	}

.main_menu ul{
	list-style:none;
	}	
.main_menu li{
	display:inline-block;
	}
.main_menu li a{
	padding:0 10px;
	display:block;
	line-height:56px;
	padding-top:4px;
	border-bottom:4px solid #fff;
	color:#333333;
	}

.main_menu a:hover,.main_menu a.active{
	background: #efefec;
	border-bottom: 4px solid #d84315;
	text-decoration:none;
	}
	
/*more main menu*/
.more_main_menu{
	float:left;
	line-height:24px;
	padding:0 10px;
	border-right:1px solid #ccc;
	color:#999999;
	cursor:pointer;
	margin-top:20px;
	font-size:16px;
	}
.more_main_menu:before{
	font-family:font-jade;
	content:'\e89b';
	float:left;
	color:#333;
	margin-right:10px;
	}
	
.more_main_menu_wrap{
	display:none;
	position:fixed;
	z-index:5;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,0.5);
	overflow:scroll;
	}

.more_main_menu_inner{
	position:absolute;
	top:64px;
	left:0;
	right:0;
	background:rgba(255,255,255,0.9);
	padding:32px 5% 32px 5%;
	}
	
.close_more_main{
	position:absolute;
	right:5%;
	top:16px;
	width:24px;
	height:24px;
	line-height:24px;
	cursor:pointer;
	}
.close_more_main:before{
	content:'\e8d5';
	font-family:font-jade;
	font-size:24px;
	}
	
.top_big_menu, .top_big_menu a{
	color:#000;
	}
	
.top_big_menu.big_menu a:hover{
	color:#1e88e5;
	}

.top_big_menu.big_menu .big_menu_bottom .bmenu_bottom_left{
	width:auto;
	}
	
/*more main menu*/
	
.other_language_link{
	float:left;
	line-height:64px;
	padding:0 12px;
	font-size:16px;
	}
.other_language_link a{
	color:#cc0000;
	}

/*search*/
.header_search_wrap{
	float:left;
	height:64px;
	margin-right:12px;
	}
.search_toggle{
	cursor:pointer;
	width:24px;
	display:block;
	}
.search_toggle:before{
	display:block;
	font-family:font-jade;
	content:'\e800';
	color:#000;
	margin-right:10px;
	border-radius:50%;
	height:24px;
	width:24px;
	line-height:24px;
	margin-top:20px;
	text-align:center;
	font-size:20px;
	}

.header_seach_form{
	display:none;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	z-index:1;
	}
.header_seach_form .search_input_holder{
	height:64px;
	overflow:hidden;
	padding-right: 8px;
	}
.header_seach_form .search_input{
	background: #efefef;
	width:100%;
	display:block;
	margin: 0;
	padding: 0;
	border:1px solid #aaa;
	color:#000;
	height:64px;
	line-height:64px;
	border:0 none;
	padding-left:10px;
	font-size:34px;
	}
.header_seach_form .search_input:focus{
	background:#fff;
	}
.header_seach_form  .search_button{
	float:right;
	height: 64px;
	line-height:64px;
	color: #000;
	background:#efefef;
	width:64px;
	border:0 none;
	cursor:pointer;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	}
.header_seach_form  .search_button span{
	display:none;
	}
.search_button:before{
	content:'\e800';
	font-family:font-jade;
	color:#000;
	font-size:24px;
	}
	
.header_seach_form  .search_close{
	width:64px;
	height:64px;
	line-height:64px;
	float:right;
	text-align:center;
	cursor:pointer;
	background:#efefef;
	}
.header_seach_form  .search_close:before{
	content:'\e8d5';
	font-family:font-jade;
	color:#000;
	font-size:24px;
	}


/*header social links*/
.header_social_wrap{
	float:left;
	height:64px;
	}
.social_toggle{
	cursor:pointer;
	width:24px;
	display:block;
	text-align:center;
	color:#000;
	}
.social_toggle:before{
	display:block;
	font-family:font-jade;
	content:'\e873';
	margin-right:10px;
	border-radius:50%;
	height:24px;
	width:24px;
	line-height:24px;
	margin-top:20px;
	text-align:center;
	font-size:24px;
	}

.header_social_wrap .social_links{
	display:none;
	position:absolute;
	top:100%;
	right:0;
	background:#fff;
	box-shadow:1px 3px 3px #000;
	z-index:5;
	}
.header_social_wrap .social_links ul{
	list-style:none;
	}
.header_social_wrap .social_links li{
	line-height:24px;
	border-bottom:1px solid #ccc;
	}
.header_social_wrap .social_links li:last-child{
	border-bottom:0 none;
	}
.header_social_wrap .social_links a{
	color:#000;
	display:block;
	padding:0 8px;
	overflow:hidden;
	}
.header_social_wrap .social_links a:hover{
	background:#efefef;
	text-decoration:none;
	}
.header_social_wrap .social_links a:before{
	font-family:font-jade;
	margin-right:8px;
	float:left;
	}
.social_links a.facebook:before{
	content:'\e876';
	}
.social_links a.twitter:before{
	content:'\e886';
	}
.social_links a.pinterest:before{
	content:'\e880';
	}
.social_links a.googleplus:before{
	content:'\e87c';
	}
.social_links a.youtube:before{
	content:'\e889';
	}
.social_links a.linkedin:before{
	content:'\e87f';
	}
.social_links a.instagram:before{
	content:'\f31e';
	}
/*header social links*/




/* user account bar */

.header_account_wrap{
	float:left;
	height:64px;
	margin-right:12px;
	}

.account_toggle{
	cursor:pointer;
	display:block;
	position:relative;
	width:24px;
	}
.account_toggle:before{
	display:block;
	font-family:font-jade;
	content:'\e807';
	margin-right:10px;
	border-radius:50%;
	height:24px;
	width:24px;
	line-height:24px;
	margin-top:20px;
	text-align:center;
	background:#999999;
	color:#fff;
	}
	
.account_toggle .profile_link_holder{
	width:24px;
	height:24px;
	position:absolute;
	left:0;
	top:0;
	}
.account_toggle .profile_link_holder img{
	width:24px;
	height:24px;
	border-radius:50%;
	position:absolute;
	left:0;
	top:0;
	}
.account_toggle .profile_link_holder span{
	display:none;
	}
	
.account_toggle .jw_notifications_counter{
	position:absolute;
	right:-2px;
	top:-3px;
	z-index:1;
	color:#fff;
	text-shadow:0px 0px 3px #000;
	}
.account_toggle .jw_notifications_counter.new_notification{
	color:#d84315;
	}
	
.user_account{
	display:none;
	position:absolute;
	top:100%;
	right:0px;
	z-index:5;
	}

	
.top_more_menu{
	}
	

#account_bar{
	float:right;
	line-height:32px;
	background:#fff;
	box-shadow:1px 3px 3px #000;
	}
#account_bar a{
	float:left;
	padding:0 10px;
	text-decoration:none;
	}
#account_bar .profile_pic{
	float:left;
	margin-right:5px;
	height:32px;
	float:left;
	}
#account_bar .profile_link, #account_bar .logout_link{
	border-right:1px solid #CBC9C2;
	}
#account_bar .profile_link{
	padding-left:0px;
	}
#jw_notifications{
	position:relative;
	float:left;
	}
#jw_notifications #jw_notifications_holder{
	position:absolute;
	right:0;
	top:32px;
	width:250px;
	background:#fff;
	z-index:9999;
	text-align:left;
	display:none;
	max-height:200px;
	overflow-y:auto;
	box-shadow:0px 3px 5px #000;
	list-style:none;
	line-height:20px;
	}

#jw_notifications #jw_notifications_holder .each_notifications a{
	display:block;
	border-bottom:1px solid #c00;
	padding:5px 5px;
	color:#333;
	font-size:14px;
	float:none;
	}
#jw_notifications #jw_notifications_holder .each_notifications a:hover{
	text-decoration:none;
	background:#cdf;
	}
#jw_notifications #jw_notifications_holder .status_new{
	background:#6CF;
	}
#jw_notifications #jw_notifications_holder .status_old{
	background:#fafafa;
	}

#jw_notifications .jw_notifications_counter{
	padding:0 10px;
	background:#f2f0e7;
	font-weight:bold;
	color:#777;
	box-shadow:inset 0px 0px 10px 0px #aaa;
	/*margin-right:10px;*/
	float:left;
	}
#jw_notifications .jw_notifications_counter:hover{
	text-decoration:none;
	color:#000;
	}
#jw_notifications .jw_notifications_opened{
	color:#000;
	}
	
#jw_notifications .new_notification{
	box-shadow:inset 0px 0px 10px 0px #0a0;
	color:#e00 !important;
	}
/*account bar*/

/*secondary header*/
.secondary_header{
	background:#f0f0ed; 
	position:relative;
	}

.secondary_top{
	height: 50px;
	padding-top:16px;
	}
.secondary_logo{
	font-size:36px;
	line-height:46px;
	height:46px;
	overflow:hidden;
	float:left;
	padding-left:8px;
	font-weight:normal;
	}
	
.secondary_logo a{
	color:#333333;
	text-decoration:none;
	overflow:hidden;
	}
.secondary_logo .subpage_logo{
	font-size:24px;
	line-height:30px;
	}
.secondary_logo a img{
	float:left;
	}
.secondary_logo a:hover{
	text-decoration:none;
	}
	
.secondary_menu_wrap{
	height:48px;
	background:rgba(0,0,0,0.2);
	overflow:hidden;
	}
	
.secondary_menu ul{
	list-style:none;
	}

.secondary_menu li, .secondary_menu a{
	float:left;
	}
	
.secondary_menu a{
	line-height:44px;
	padding: 0 10px;
	font-size: 16px;
	border-bottom:0 none;
	color:#000;
	}
	
.secondary_menu a:hover, .secondary_menu a.active{
	border-bottom:4px solid #c00;
	text-decoration:none;
	}



/*kheladhula*/
.boro_chobi img {
	width: 600px;
	height: 334px;
	position: relative;
}
.boro_chobi p {
	
	padding-left: 10px;
	position: absolute;
	bottom: 5px;
}
.boro_chobi p a{
	color: #eff50c;
	font-size: 23px;
	font-weight: bold;
}

.sub_khobor {
	margin-left: 10px;
}


.sub_part_khobor {
	margin-bottom: 31px;
}
.sub_part_khobor img {
	width: 218px;
	height: 152px;
	position:relative;
}
.sub_part_khobor p {
	padding-left: 10px;
	position: absolute;
	bottom: 5px;
}
.sub_part_khobor p a {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.subdivission1 img {
	width: 276px;
	height: 170px;
}

.subvission_title {
	background-color: #eaeaea;
	width: 277px;
	height: 200px;
	margin-top: -20px;
	padding: 10px;
}
.subvission_title h3 {
	color: #2599ef;
	font-weight: bold;
}
.subvission_title p a {
	color: #111;
	font-weight: bold;
}



.main_khobor {
	margin-top: 20px;
	background-color: #d2d2d2;
}
.news_category a h2, .news_update a h2, .single_content a h2 {
	color: #111;
	border-left: 4px solid #9e5353;
	padding-left: 10px;
}

.news_pic img {
	width: 201px;
	height: 112px;
}
.sports_news_update {
	margin-bottom: 20px;
}

.news_details {
	height: 112px;
	background-color: #fff;
	margin-bottom: 20px;
}

.news_details a {
	
}

.news_details p {
	padding-left: 10px;
	margin-left: 7px;
	font-size: 15px;
	color: #000;
	font-weight: bold;
	padding-right: 10px;
	
}

.single_content {
	margin-bottom: 20px;
}
.content_img_title {

}
.content_img_title img {
	width: 267px;
	height: 175px;
}
.content_img_title p {
	font-size: 21px;
	color: #111;
	font-weight: bold;
	background-color: #fff;
	padding: 9px;
	width: 268px;
}

.content_news {
	padding-top: 10px;
	/* border-bottom: 1px solid #b4b3b3; */
	height: 80px;
	background-color: #fff;
	width: 268px;
	margin-left: 15px;
	margin-top: -10px;
	border-top: 1px solid #ded2d2;
}
.content_news_img img {
	width: 93px;
	height: 47px;
}

.content_news_details p {
	font-size: 16px;
	margin-left: 29px;
	color: #111;
	font-weight: bold;
	padding-left: 6px;
}
/*kheladhula*/

/*****Footer**********/

.footer-first {
	margin-top: 20px;
	margin-bottom: 20px;
}

.rightside p {
	font-size: 12px;
	margin-top: 10px;
}

.rightside img {
	width: 120px;
	height: 35px;
}

.footer-second {
	background-color: gray;
}
.boro_chobi img{
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}




/* footer panel*/
element.style{
    
}
.foot-portion{
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #555555;
    font-size: 13px;
    line-height: 17px;
}
.foot-top-container{
    border-bottom: 1px solid #E3E3E1;
    overflow: hidden;
    background: #F0F0ED;
    padding: 16px 0px;
}
.foot-logo{
    margin: 10px 0px;
    display: inline-block;
    text-decoration: none;
    float: left;
}
.mobile-app-container{
	line-height:38px;
	display:inline-block;
	float:right;
	margin:10px 0px;
	}
.mobile-app-container span, .mobile-app-container a{
	display:inline-block;
	margin:0 10px;
	}
.mobile-app-container .apple-aps-icon{
	background:url(images/mobile_app_122x76.png) no-repeat 0 0;
	text-decoration:none;
	width:122px;
	height:38px;
	display:inline-block; 
	}
.mobile-app-container .android-aps-icon{
	background:url(images/mobile_app_122x76.png) no-repeat 0 -38px;
	text-decoration:none;
	width:122px;
	height:38px;
	display:inline-block; 
	}
.foot_wrap_bg{
	background:#282828;
	}
.foot-middle-container{
	overflow:hidden;
	padding-bottom:32px;
	}

.big_menu .big_menu_top{
	border-bottom:1px solid #999;
	overflow:hidden;
	padding:32px 0 44px 0;
	}
.big_menu .big_menu_top .all-menu{
	width:83%;
	float:left;
	overflow:hidden;
	}
.big_menu .big_menu_top .all-menu ul{
	list-style:none;
	}
.big_menu .big_menu_top .all-menu ul li:first-child{
	padding-left:0;
	}
.big_menu .big_menu_top .all-menu ul li{
	float:left;
	display:block;
	width:20%;
	}
.big_menu .big_menu_top .all-menu ul li a{
	display:block;
	text-decoration:none;
	font-size:18px;
	line-height:40px;
	}

.foot_big_menu, .foot_big_menu a{
	color:#cccccc;
	}

.big_menu a:hover{
	color:#ffb300;
	}

.big_menu .big_menu_top .special_menu{
	float:left;
	width:17%;
	}
.big_menu .big_menu_top .special_menu ul{
	list-style:none;
	}
.big_menu .big_menu_top .special_menu ul li{
	/*margin:26px 0;*/
	}
.big_menu .big_menu_top .special_menu ul li a{
	display:block;
	text-decoration:none;
	font-size:20px;
	line-height:36px;
	padding-left:31px;
	}
.big_menu .big_menu_top .special_menu ul li:first-child, .big_menu .special_menu ul li:last-child{
	/*margin:0;*/
	}
.big_menu .big_menu_top .special_menu ul li a.image_menu_icon:before{
	font-family:font-jade;
	content:'\e80c';
	color:#9c27b0;
	margin-right:12px;
	font-size:16px;
	}
.big_menu .big_menu_top .special_menu ul li a.video_menu_icon:before{
	font-family:font-jade;
	content:'\e80a';
	color:#ffc107;
	margin-right:12px;
	font-size:16px;
	}
.big_menu .big_menu_top .special_menu ul li a.archive_menu_icon:before{
	font-family:font-jade;
	content:'\e83a';
	color:#d84315;
	margin-right:12px;
	font-size:16px; 
	}
.big_menu .big_menu_bottom{
	padding-top:25px;
	overflow:hidden;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_left{
	float:left;
	width:60%;
	}
.big_menu .big_menu_bottom .bmenu_bottom_toplinks{
	margin-bottom:32px;
	overflow:hidden;
	}
.big_menu .big_menu_bottom .bmenu_bottom_toplinks ul{
	list-style:none;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_toplinks ul li{
	float:left;
	margin-right:24px;
	margin-bottom:8px;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_toplinks ul li:first-child{

	}
.big_menu  .big_menu_bottom .bmenu_bottom_toplinks ul li a{
	font-size:16px;
	line-height:26px;
	text-decoration:none;
	display:block;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_imagelinks{
	margin-bottom:36px;
	overflow:hidden;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_imagelinks ul{
	list-style:none;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_imagelinks ul li{
	float:left;
	margin:0 15px;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_imagelinks ul li:first-child{
	margin-left:0px;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_imagelinks ul li a{
	text-decoration:none;
	font-size:16px;
	line-height:32px;
	display:inline-block;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_imagelinks ul li a span{
	display:block;
	height:32px;
	line-height:32px;
	margin-right:12px;
	float:left;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_right{
	float:left;
	width:40%;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_right p{
	font-family:"Times New Roman", serif;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	}
.big_menu  .big_menu_bottom .bmenu_bottom_right p span{
	display:inline-block;
	font-style:italic;
	color:#f44336;
	}
.foot-bottom-container{
	background:rgba(0,0,0,0.4);
	}
.foot-bottom-container .foot-bottom{
	padding:40px 0 26px 0;
	font-size:16px;
	line-height:22px;
	color:#999999;
	}
