/*------------------------------------*/
/* BASIC SETUP */
/*-----------------------------------*/
body
{
	font-family: 'Lato', 'Arial', sans-serif; 
}


/*------------------------------------*/
/* HEADER */
/*-----------------------------------*/
.navigation
{
	font-size: 13px;
	border-bottom: 2px solid #e4e4e4;
	padding-left: 30px;
}

.navbar
{
	box-shadow: rgb(0, 0, 0) 0px 5px 5px -5px;
}

.breaking-news
{
	word-spacing: 3px;
}


.nav>li>a {
    padding: 20px;
    padding-bottom: 17px;
    color: #000;
    border-bottom: 3px solid transparent;
}

.nav>li>a:hover{
    background: #efefec;
    border-bottom: 3px solid #cd2222;
}


/*------------------------------------*/
/* MAIN NEWS */
/*-----------------------------------*/
.date-time
{
	width: 100%;
	background-color: white;
	color: #4a4b4c;
}

.date-time p
{
	word-spacing: 3px;
	font-size: 12px;
}


.section-1,
.section-3,
.section-5,
.section-7
{
	width: 100%;
	background-color: #f0f0ed;
	color: black;
}

.section-6
{
	background-color: #212121;
	color: white;
	width: 100%;
}



.dark-section
{
	background-color: black;
	color: white;
}


.main-news #main-headline
{
	margin-top: 18px;
	color: orange;
}


.main-news #main-headline-img
{
	width: 90%;
	height: auto;
    filter: brightness(80%);
}


.main-news #main-headline-text
{
	position: absolute;
	font-size: 28px;
    bottom: 6px;
    left: 28px;
}


#main-headline a h3
{
	color: #ffc107;
}

#main-headline h3:hover
{
	color: white;
}

#main-headline img:hover
{
	opacity: 0.7;
}


/*------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------*/

.xtra-small-thumbnail
{
	background-color: white;
	margin-top: 5px;
	margin-left: 15px;
	font-size: 12px;
	width: 250px;
	height: auto;
	margin-top: 5px;
	color: black;
}

.xtra-small-thumbnail a:link, a:visited
{
	color: black;
}

.xtra-small-thumbnail a:hover, a:active
{
	color: blue;
	text-decoration: none;
}

.xtra-small-thumbnail img
{
	width: 80px;
	margin-bottom: 5px;
	height: auto;
}

.xtra-small-thumbnail img:hover
{
	opacity: 0.7;
}

.xtra-small-thumbnail p
{
	margin: 10px 10px;
}

.small-thumbnail
{
	margin-top: 5px;
	background-color: white;
	font-size: 12px;
	width: 500px;
	height: auto;
	border-bottom: 0.5px solid #e4e4e4;
	
}

.small-thumbnail a:link, a:visited
{
	text-decoration: none;
	color: black;
}

.small-thumbnail a:hover, a:active
{
	color: blue !important;
	text-decoration: none;
}

.small-thumbnail p
{
	margin: 10px 10px;
}


.small-thumbnail img 
{
	margin-bottom: 5px;
	width: 80px;
	height: auto;
}

.small-thumbnail img:hover
{
	opacity: 0.7;
	text-decoration: none;
}

.small-news 
{
	margin-top: 1px;
	background-color: white;
	font-size: 15px;
	width: 92%;
	height: auto;
	color: black;
}

.small-news p
{
	padding-left: 5px;
	padding-top: 5px;
}



.small-news a:link, a:visited
{
	color: black;
}

.small-news a:hover, a:active
{
	color: blue;
	text-decoration: none;
}

.medium-thumbnail
{
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: white;
	width: 200px;
	color: black;
	height: auto;
}

.medium-thumbnail-body
{
	font-size: 12px;
}

.medium-thumbnail img
{
	width: 200px;
	height: 150px;
    filter: brightness(70%);
}

.medium-thumbnail-header
{
	font-size: 17px;
}

.medium-thumbnail-header a:link, a:visited
{
    color: black;
}

.medium-thumbnail-header a:hover, a:active
{
	color: blue;
	text-decoration: none;
}

.medium-thumbnail-header img:hover
{
	opacity: 0.7;
}

.medium-thumbnail-body a:hover, a:active
{
	text-decoration: none;
}

.medium-thumbnail-footer
{
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 10px;
	border-left: 2px solid orange;
}

.medium-thumbnail-footer a:link, a:visited
{
	color: black;
}

.medium-thumbnail-footer a:hover, a:active
{
	color: orange;
}

.large-thumbnail
{
	background-color: white;
	color: black;
}

.large-thumbnail img
{
	width: 250px;
	height: auto;
}

.large-thumbnail-heading
{
	padding-bottom: 1px;
}

.large-thumbnail-header a:link, a:visited
{
    color: black;
}

.large-thumbnail-header a:hover, a:active
{
	color: blue;
	text-decoration: none;
}

.large-thumbnail-header img:hover
{
	opacity: 0.7;
}


.xtra-large-thumbnail
{
	background-color: white;
	color: black;
}

.xtra-large-thumbnail-header
{
	font-size: 20px;
}

.xtra-large-thumbnail img
{
	width: 100%;
	height: auto;
}

.xtra-large-thumbnail img:hover
{
	opacity: 0.7;
}

.xtra-large-thumbnail-body
{
	font-size: 13px;
	word-spacing: 2px;
}

.xtra-large-thumbnail-body a:hover, a:active
{
	text-decoration: none;
}

.xtra-large-thumbnail-heading
{
	padding-bottom: 1px;
}

.xtra-large-thumbnail-header a:link, a:visited
{
	text-decoration: none;
    color: black;
}

.xtra-large-thumbnail-header a:hover, a:active
{
	color: blue;
	text-decoration: none;
}

.xtra-large-thumbnail-dark
{
	background-color: black;
	color: #E0E0E0;
}

.xtra-large-thumbnail-dark img
{
	width: 100%;
	height: auto;
}

.xtra-large-thumbnail-dark img:hover
{
	opacity: 0.7;
}

.xtra-large-thumbnail-dark-heading
{
	padding-bottom: 1px;
}

.xtra-large-thumbnail-dark p
{
	color: white; 
}

.xtra-large-thumbnail-dark p:hover
{
	text-decoration: none;
	color: orange !important;
}

.small-thumbnail-dark
{
	margin-top: 5px;
	background-color: black;
	font-size: 12px;
	width: 500px;
	height: auto;
	border-bottom: 0.5px solid #e4e4e4;
	
}

.small-thumbnail-dark p
{
	color: white;
}

.small-thumbnail-dark p:hover
{
	color: orange !important;
	text-decoration: none;
}

.small-thumbnail-dark p
{
	margin: 10px 10px;
}


.small-thumbnail-dark img 
{
	margin-bottom: 5px;
	width: 80px;
	height: auto;
}

.small-thumbnail-dark img:hover
{
	opacity: 0.7;
	text-decoration: none;
}


.title-orange
{
	border-left: 5px solid #f95002;
	padding-left: 5px;
}

.title-blue
{
	border-left: 5px solid blue;
	padding-left: 5px;
}

.title-purple
{
	border-left: 5px solid purple;
	padding-left: 5px;
}


.card-body a:link, a:active
{
	color: black;
}

.card-body a:hover, a:active
{
	text-decoration: none;
	color: blue;
}




/*------------------------------------*/
/* SIDEBAR */
/*-----------------------------------*/

.side-bar
{
	margin-left: 5px;
}

.side-bar h5
{
	border-left: 5px solid #f95002;
	color: black;
	padding-left: 5px;
}




.sports-news h5,
.entertainment h5,
.national-news h5,
.miscelleneous-news h5,
.opinion h5,
.foreign h5,
.section-7 h5
{
	color: black;
}


.sports-news h5:hover,
.entertainment h5:hover,
.national-news h5:hover,
.micelleneous-news h5:hover,
.opinion h5:hover,
.foreign h5:hover,
.section-7 h5:hover
{
	text-decoration: none;
}

.picture-news h5
{
	color: white;
}
.picture-news h5:hover
{
	color: orange;
	text-decoration: none;
}

/*------------------------------------*/
/* OPINION */
/*-----------------------------------*/

.comment-highlight
{
	font-size: 12px;
	color: red;
}

.comment-title 
{
	font-size: 20px;
}

.comment-title a:link, a:visited
{
	color: black;
}

.comment-title a:hover, a:active
{
	color: blue;
	text-decoration: none;
}

.comment-body a 
{
	text-decoration: none;
    color: black;
}

.comment-footer a
{
	text-decoration: none;
    color: black;
}

.comment-body
{
	border-left: 3px solid #9a9ca0;
	padding-left: 5px;
}



/*------------------------------------*/
/* SLIDER */
/*-----------------------------------*/

.slider-body-text
{
	background-color: #333333;
	width: 100%;
}

.slider-body-text h5
{
	color: #336699;
	padding-left: 20px;
	padding-top: 20px;
}



.slider-body-text h5:hover
{
	color: #336699;
	text-decoration-color: #336699 !important;
}

.slider-body-text p
{
	padding-left: 10px;
	word-spacing: 2px;
	font-size: 13.5px;
	line-height: 25px;
}

.slider-body-text img
{
	width: 76.5%;
	height: auto;
	margin-left:%;
}

.slider-thumbnail
{
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #212121;
	width: 150px;
	color: black;
	height: auto;
}

.slider-thumbnail-body
{
	font-size: 12px;
}

.slider-thumbnail img
{
	width: 150px;
	height: auto;
}


.slider-thumbnail-header
{
	font-size: 15px;
}

.slider-thumbnail-header p
{
	color: white;
}


.slider-thumbnail-header p:hover
{
	color: orange;
	text-decoration: none !important;
}






/*------------------------------------*/
/* FOOTER TOP */
/*-----------------------------------*/

.footer-white
{
	font-size: 12px;
}

.footer-white img
{
	width: 125px;
}

.right-side
{
	float: right;
}

.footer-top 
{
	background-color: #212121;
	color: #E0E0E0;
}

.footer-top a
{
	color: #E0E0E0;
}


.footer-top a:hover
{
	color: orange;
	text-decoration: none;
}


.divider
{
	border-top: solid 2px black;
	font-size: 14px;
}


.dark-footer
{
	background-color: black;
	color: #E0E0E0;
	word-spacing: 2px;
}



/*------------------------------------*/
/* VOTING SECTION */
/*-----------------------------------*/

.voting-section
{
	background-color: #333333;
}

.voting-section h5
{
	color: orange;
	padding: 20px;
}

.voting-section-input
{
	padding: 20px;
	color: #E0E0E0;
}

.voting-section a
{
	padding-left: 10px;
	color: #E0E0E0;	
}

.voting-section p
{
	color: #E0E0E0;
}

#voting-section-last-paragraph
{
	border-top: 1px solid white;
	padding-top: 25px;
}

#voting-section-top-paragraph
{
	border-top: 1px solid white;
}

.card-body p
{
	border-bottom: 0.5px solid black;
	padding-left: 3px;
}

.card-body p:hover
{
	color: black;
	background: #efefec;
    border-left: 2px solid #cd2222
}



